<!DOCTYPE html>
<html lang="pt-br">
<!-- begin::Head -->
<head>
    <!--begin::Base Path (base relative path for assets of this page) -->
    <meta charset="utf-8" />
    <title>Bufunfa! Gerenciador financeiro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
    <!--end::Fonts -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="~/plugins/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/relatorio.min.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <environment include="Development">
        <link href="~/css/bufunfa.css" rel="stylesheet" type="text/css" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/bufunfa.min.css" rel="stylesheet" type="text/css" />
    </environment>
    <style>
        table {
            page-break-inside: auto !important;
        }

            table tr {
                page-break-inside: avoid !important;
                page-break-after: auto !important;
            }

        tfoot {
            display: table-footer-group !important;
        }
    </style>
    <!--end::Global Theme Styles -->
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body style="background-color: #fff;">
    <div class="kt-portlet" style="margin-bottom: 0;">
        <div class="kt-portlet__body kt-portlet__body--fit">
            @Html.AntiForgeryToken()
            @RenderBody()
        </div>
    </div>

    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = { "colors": { "state": { "brand": "#2c77f4", "light": "#ffffff", "dark": "#282a3c", "primary": "#5867dd", "success": "#34bfa3", "info": "#36a3f7", "warning": "#ffb822", "danger": "#fd3995" }, "base": { "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"], "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"] } } };
    </script>
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="~/plugins/plugins.bundle.js" type="text/javascript"></script>
    <script src="~/js/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <script type="text/javascript">
        // Adiciona a toda requisição AJAX o token AntiforgeryToken
        $(document).ajaxSend(function (e, xhr, options) {
            if (options.type.toUpperCase() == "POST" || options.type.toUpperCase() == "PUT") {
                var token = $("input[name='__RequestVerificationToken']").val();
                xhr.setRequestHeader("RequestVerificationToken", token);
            }
        });
    </script>
</body>
<!-- end::Body -->
</html>