@using JNogueira.Bufunfa.Web

<!DOCTYPE html>
<html lang="pt-br">
<!-- begin::Head -->
<head>
    <!--begin::Base Path (base relative path for assets of this page) -->
    <meta charset="utf-8" />
    <title>Bufunfa! Gerenciador financeiro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
    <!--end::Fonts -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="~/plugins/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/relatorio.min.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <environment include="Development">
        <link href="@Url.AbsoluteContent("~/css/bufunfa.css")" rel="stylesheet" type="text/css" />
    </environment>
    <environment exclude="Development">
        <link href="@Url.AbsoluteContent("~/css/bufunfa.min.css")" rel="stylesheet" type="text/css" />
    </environment>
    <style>
        table {
            page-break-inside: auto !important;
        }

            table tr {
                page-break-inside: avoid !important;
                page-break-after: auto !important;
            }

        tfoot {
            display: table-row-group !important;
        }
    </style>
    <!--end::Global Theme Styles -->
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body style="background-color: #fff;">
    <div class="kt-portlet" style="margin-bottom: 0;">
        <div class="kt-portlet__body kt-portlet__body--fit">
            @RenderBody()
        </div>
    </div>
</body>
<!-- end::Body -->
</html>