@using JNogueira.Bufunfa.Web.Helpers

@inject CustomHtmlHelper customHtmlHelper

@model JNogueira.Bufunfa.Web.Models.LancamentoAnexo

<div class="kt-portlet app-modal-sm" style="margin-bottom:0;" id="portlet-manter-detalhe">
    <div class="kt-portlet__head popup">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Adicionar anexo
            </h3>
        </div>
    </div>
    <form class="kt-form" id="form-manter-anexo" enctype="multipart/form-data">
        <input type="hidden" id="iLancamentoAnexoId" name="iLancamentoAnexoId" value="@(Model != null ? Model.Id.ToString() : string.Empty)">
        <div class="kt-portlet__body">
            <div class="form-group row">
                <div class="col-lg-12 form-group-sub">
                    <label for="sCategoria">Descrição</label> @CustomHtmlHelper.IconeCampoObrigatorio()
                    <input type="text" class="form-control" id="iLancamentoAnexoDescricao" name="iLancamentoAnexoDescricao">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-12 form-group-sub">
                    <label for="sCategoria">Nome do arquivo</label> @CustomHtmlHelper.IconeCampoObrigatorio()
                    <input type="text" class="form-control" id="iLancamentoAnexoNomeArquivo" name="iLancamentoAnexoNomeArquivo">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-12 form-group-sub">
                    <label>Arquivo do anexo</label> @CustomHtmlHelper.IconeCampoObrigatorio()
                    <input type="file" id="iLancamentoAnexoConteudoArquivo" name="iLancamentoAnexoConteudoArquivo">
                </div>
            </div>

        </div>
        <div class="kt-portlet__foot popup">
            <div class="kt-form__actions">
                <div class="row">
                    <div class="col-lg-12 kt-align-right">
                        <button type="reset" class="btn btn-sm btn-outline-hover-primary btn-elevate btn-fechar"><i class="la la-close"></i> Cancelar</button>
                        <button type="submit" class="btn btn-sm btn-primary"><i class="la la-check"></i> Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>