@using JNogueira.Bufunfa.Web.Helpers

<div class="kt-portlet app-modal-sm" style="margin-bottom:0;">
    <div class="kt-portlet__head popup">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Alterar senha
            </h3>
        </div>
    </div>
    <form class="kt-form kt-form--label-right" id="form-alterar-senha">
        <div class="kt-portlet__body">
            <div class="form-group row">
                <div class="col-lg-12">
                    <label>Senha atual</label> @CustomHtmlHelper.IconeCampoObrigatorio()
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-lock"></i></span></div>
                        <input type="password" class="form-control" id="iSenhaAtual" name="iSenhaAtual">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-12">
                    <label>Nova senha</label> @CustomHtmlHelper.IconeCampoObrigatorio()
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-lock"></i></span></div>
                        <input type="password" class="form-control" id="iNovaSenha" name="iNovaSenha">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-12">
                    <label>Confirme a nova senha</label> @CustomHtmlHelper.IconeCampoObrigatorio()
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-lock"></i></span></div>
                        <input type="password" class="form-control" id="iConfirmarNovaSenha" name="iConfirmarNovaSenha">
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot popup">
            <div class="kt-form__actions">
                <div class="row">
                    <div class="col-lg-12 kt-align-right">
                        <button type="reset" class="btn btn-sm btn-outline-hover-primary btn-elevate btn-fechar"><i class="la la-close"></i> Cancelar</button>
                        <button type="submit" class="btn btn-sm btn-primary"><i class="la la-check"></i> Alterar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>