version: '3'
services:
  # Banco de dados - MySQL 5.7
  bufunfa-db:
    image: jlnpinheiro/bufunfa:1.0.0-database
    container_name: bufunfa-mysql
    environment:
      MYSQL_ROOT_PASSWORD: "Bufunf@"
      MYSQL_DATABASE: "db_bufunfa" #NÃO ALTERAR O NOME DO BANCO (na imagem para criação do banco, existe um script que gera o banco que faz referência a esse nome)
      MYSQL_USER: "bufunfa"
      MYSQL_PASSWORD: "bufunfa"
    restart: always
    ports:
      - "3306:3306"
    volumes:
      - ../_mysql:/var/lib/mysql
    networks:
      - bufunfa-network

  # Backend - API ASP.NET Core 3.1
  bufunfa-backend:
    depends_on:
      - bufunfa-db
    image: jlnpinheiro/bufunfa:1.0.0-backend
    container_name: bufunfa-backend
    restart: always
    networks:
      - bufunfa-network

  # Frontend - ASP.NET Core 3.1
  bufunfa-frontend:
    depends_on:
      - bufunfa-db
      - bufunfa-backend
    image: jlnpinheiro/bufunfa:1.0.0-frontend
    container_name: bufunfa-frontend
    restart: always
    networks:
      - bufunfa-network

  # Ngnix - Proxy reverso
  bufunfa-reverse-proxy:
    depends_on:
      - bufunfa-frontend
      - bufunfa-backend
    image: jlnpinheiro/bufunfa:1.0.0-reverse-proxy
    container_name: bufunfa-reverse-proxy
    ports:
      - "80:80"
      - "443:443"
    restart: always
    networks:
      - bufunfa-network

networks: 
  bufunfa-network:
    driver: bridge