version: '3'
services:
    
  # Banco de dados - MySQL 5.7
  bufunfa-db:
    image: jlnpinheiro/bufunfa:1.0.0-database
    container_name: bufunfa-mysql
    environment:
        MYSQL_ROOT_PASSWORD: "p@ssw0rd"
        MYSQL_DATABASE: "db_bufunfa"
        MYSQL_USER: "bufunfa"
        MYSQL_PASSWORD: "bufunfa"
    restart: always
    ports:
        - "3306:3306"
    volumes:
        - ./_mysql:/var/lib/mysql
    networks:
        - bufunfa-network

  # Backend - API ASP.NET Core 3.1
  bufunfa-backend:
    depends_on:
        - bufunfa-db
    image: jlnpinheiro/bufunfa:1.0.0-backend
    container_name: bufunfa-backend
    environment:
        # String de conexão para acesso ao banco
        BUFUNFA_BANCO_DADOS_CONNECTION_STRING: "server=bufunfa-mysql;Port=3306;user id=bufunfa;password=bufunfa;database=db_bufunfa;SslMode=none;" # OBS: o nome do server deve ser igual a "container_name" de "bufunfa-db"
        # URL do webhook do Discord (não obrigatório)
        BUFUNFA_DISCORD_WEBHOOK_URL: "" 
        # ID da pasta no Google Drive onde os anexos serão armazenados (não obrigatório)
        BUFUNFA_GOOGLE_DRIVE_ID_PASTA_ANEXO: ""  
        # Key para utilizar a API da Alpha Vantage (consulta de indicadores financeiros de ativos)
        BUFUNFA_API_ALPHA_VANTAGE_KEY: "" 
    restart: always
    volumes: 
        - ./google_credentials.json:/app/google_credentials.json # Arquivo com as credenciais de acesso para utilizar a API do Google Drive (não obrigatório)
    networks:
        - bufunfa-network

  # Frontend - ASP.NET Core MVC 3.1
  bufunfa-frontend:
    depends_on:
        - bufunfa-db
        - bufunfa-backend
    image: jlnpinheiro/bufunfa:1.0.0-frontend
    container_name: bufunfa-frontend
    environment:
        # URL do webhook do Discord (não obrigatório)
        BUFUNFA_DISCORD_WEBHOOK_URL: "" 
        # URL para acesso ao backend
        BUFUNFA_BACKEND_URL: "http://bufunfa-backend/api/"
    restart: always
    networks:
        - bufunfa-network

networks: 
  bufunfa-network:
    driver: bridge
