/* Jquery Confirm */

.jconfirm .jconfirm-box {
    background-color: transparent;
    border-radius: 0;
    position: relative;
    outline: 0;
    padding: 10px 10px 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.jconfirm.jconfirm-white .jconfirm-box, .jconfirm.jconfirm-light .jconfirm-box {
    -webkit-box-shadow: none;
    border-radius: 0;
}

.jconfirm .jconfirm-box div.jconfirm-title-c {
    display: none;
    visibility: hidden;
    line-height: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    padding-bottom: 0;
}

.jconfirm .jconfirm-box div.jconfirm-content-pane {
    margin-bottom: 0;
}

.jconfirm .jconfirm-box div.jconfirm-title-confirm {
    display: block;
    visibility: visible;
    padding-bottom: 20px;
}

@media (max-width: 320px) {
    .app-modal-sm,
    .app-modal-md,
    .app-modal-lg {
        width: 300px;
        margin: 0 auto;
    }
}

@media (min-width: 575px) {
    .app-modal-sm,
    .app-modal-md,
    .app-modal-lg {
        width: 355px;
        margin: 0 auto;
    }
}

@media (min-width: 576px) {
    .app-modal-sm {
        width: 300px;
        margin: 0 auto;
    }

    .app-modal-md {
        width: 400px;
        margin: 0 auto;
    }

    .app-modal-lg {
        width: 500px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .app-modal-sm {
        width: 400px;
        margin: 0 auto;
    }

    .app-modal-md {
        width: 600px;
        margin: 0 auto;
    }

    .app-modal-lg {
        width: 700px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .app-modal-sm {
        width: 400px;
        margin: 0 auto;
    }

    .app-modal-md {
        width: 600px;
        margin: 0 auto;
    }

    .app-modal-lg {
        width: 900px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .app-modal-sm {
        width: 400px;
        margin: 0 auto;
    }

    .app-modal-md {
        width: 600px;
        margin: 0 auto;
    }

    .app-modal-lg {
        width: 1000px;
        margin: 0 auto;
    }
}

/* Jquery Cofirm - Fim */
